@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;500;600;700;800;900&family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@layer components {
	.box {
		@apply mx-auto w-full max-w-screen-xl px-4 md:px-8;
	}
	.button-primary {
		@apply transform rounded-lg bg-piccolo px-5 py-2 text-sm font-semibold text-white  transition-all duration-150 hover:scale-110 focus:ring-4;
	}
	.button-alternate {
		@apply transform rounded-lg border border-zinc-200 bg-white py-2 px-5 text-sm font-medium text-zinc-900 transition-all duration-150 hover:scale-110 hover:bg-zinc-100 hover:text-piccolo focus:z-10 focus:outline-none focus:ring-4 focus:ring-zinc-200 dark:border-zinc-600 dark:bg-zinc-800 dark:text-zinc-400 dark:hover:bg-zinc-700 dark:hover:text-white dark:focus:ring-zinc-700;
	}
}

#particles {
	height: 100%;
}
